body {
    background-color: aliceblue;
}

#nav {
    background-color: rgb(255, 255, 255);
}

.navbar .navbar-collapse .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 20px rgb(0 0 0 / 12%);
}